__pycache__/
*__pycache__/
*__pycache__
*.pyc
*.pyo
*.pyd
build/
dist/
*.egg-info/
*.egg
.venv/
venv/
env/
ENV/
.conda/
*.env
.envrc
.vscode/
.idea/
*.DS_Store
*.swp
*.swo
*.bak
Thumbs.db
.ipynb_checkpoints/
tmp/
temp/
*.tmp
*.log
logs/
htmlcov/
.coverage
.coverage.*
.pytest_cache/
.mypy_cache/
.dmypy.json
.pyre/
cython_debug/
*.pkl
*.joblib
*.h5
*.ckpt
*.model
*.dat
examples/catboost_info/
examples/catboost_info/learn/
noventis/__pycache__/
noventis.data_cleaner/__pycache__/
data/
datasets/
*.csv
*.tsv
*.xlsx
*.xls
*.json
*.parquet
*.feather
*.zip
*.tar
*.tar.gz
*.rar
*.7z
